In [17]:
import pandas as pd
from tqdm import tqdm
import os, sys

dataFolder = 'data/'
dataList = [dataFolder + f for f in os.listdir(dataFolder) if f.endswith('.csv')]

In [19]:
dataList

['data/report.csv',
 'data/birth.csv',
 'data/submission.csv',
 'data/breed.csv',
 'data/spec.csv']

### functions

In [18]:
def read_csv(file: str) -> pd.DataFrame:
    return pd.read_csv(file)

#### Pre-processing

* read file and rename
* EDA with sweetviz or piperider
* check for 
* missing values and outliers

#### read file and rename

In [21]:
reportDf = read_csv(dataList[0])

/var/folders/s6/ryn923fn0b5f_k98rws_2fvm0000gn/T/ipykernel_88579/551868768.py:1: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  reportDf = read_csv(dataList[0])

In [24]:
reportDf.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,1,2013,3,A,52612,507H7173,96040545,2011/1/1 00:00,1,78.0,...,2013/1/1 00:00,2013/3/20 00:00,26,2013/3/21 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
1,2,2013,4,A,52612,507H7173,96040545,2011/1/1 00:00,1,107.0,...,2013/1/1 00:00,2013/4/18 00:00,27,2013/4/19 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
2,3,2013,5,A,52612,507H7173,96040545,2011/1/1 00:00,1,140.0,...,2013/1/1 00:00,2013/5/21 00:00,28,2013/5/22 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
3,4,2013,6,A,52612,507H7173,96040545,2011/1/1 00:00,1,175.0,...,2013/1/1 00:00,2013/6/25 00:00,29,2013/6/26 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
4,5,2013,7,A,52612,507H7173,96040545,2011/1/1 00:00,1,210.0,...,2013/1/1 00:00,2013/7/30 00:00,30,2013/7/31 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784

In [ ]:

birthDf = read_csv(dataList[1])
submissionDf = read_csv(dataList[2])
breakDf = read_csv(dataList[3])
specDf = read_csv(dataList[4])